*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 200vh;
    width:120wh ;
    position: fixed;
}
#page2{
    height: 200vh;
    width:120wh;
    position: fixed;
}
h1{
    text-transform: capitalize;
    font-family:  'Arial Narrow';
    font-style: bold;
    color: rgb(65, 92, 83);
}
#a{
    color: rgb(202, 214, 224);
    text-transform: capitalize;
    text-align: center;
    word-spacing: 5px;
    color: white;
    padding: 10px;
    background-color: rgb(13, 183, 222);
    border: 2px solid white;
}
h2{
    line-height: 2.5;
    letter-spacing: 1px;
    font-weight: bold;
    font-display: auto;
    color: rgb(43, 66, 66);
}

#i1{
    text-align: center;
}
h3{
    line-height: 3.5;
    font-family: 'Gill Sans MT';
    color: rgb(54, 59, 59);
}
ul{
  list-style-type: disc;
  margin-left: 60px;
}
ol{
    list-style-type:decimal;
    margin-left: 80px;
   
}
#last{
    margin: 10px;
    padding: 20px;
    box-sizing: content-box;
    line-height: 10px;
    background-color:rgb(78, 76, 76);
    color: white;
    text-align: center;

}